#TMSH-VERSION: 17.1.0

ltm node /Common/172.16.20.1 {
    address 172.16.20.1
}
ltm node /Common/172.16.20.2 {
    address 172.16.20.2
}
ltm node /Common/172.16.20.3 {
    address 172.16.20.3
}
ltm pool /Common/http_pool {
    members {
        /Common/172.16.20.1:80 {
            address 172.16.20.1
        }
        /Common/172.16.20.2:80 {
            address 172.16.20.2
            ratio 2
        }
        /Common/172.16.20.3:80 {
            address 172.16.20.3
            ratio 3
        }
    }
}
ltm pool /Common/https_pool {
    members {
        /Common/172.16.20.1:443 {
            address 172.16.20.1
        }
        /Common/172.16.20.2:443 {
            address 172.16.20.2
        }
        /Common/172.16.20.3:443 {
            address 172.16.20.3
        }
    }
}
ltm virtual /Common/http_vs {
    destination /Common/10.10.1.100:80
    ip-protocol tcp
    mask 255.255.255.255
    pool /Common/http_pool
    profiles {
        /Common/tcp { }
    }
    source 0.0.0.0/0
    translate-address enabled
    translate-port enabled
}
ltm virtual /Common/https_vs {
    destination /Common/10.10.1.100:443
    ip-protocol tcp
    mask 255.255.255.255
    pool /Common/https_pool
    profiles {
        /Common/tcp { }
    }
    source 0.0.0.0/0
    translate-address enabled
    translate-port enabled
}
ltm virtual-address /Common/10.10.1.100 {
    address 10.10.1.100
    arp enabled
    mask 255.255.255.255
    traffic-group /Common/traffic-group-1
}

net port-list /Common/_sys_self_allow_tcp_defaults {
    ports {
        22 { }
        53 { }
        161 { }
        443 { }
        1029-1043 { }
        4353 { }
    }
}
net port-list /Common/_sys_self_allow_udp_defaults {
    ports {
        53 { }
        161 { }
        520 { }
        1026 { }
        4353 { }
    }
}